<div id="new-contribution" referenced-posts="">
  <article id="new-post" contenteditable="True"></article>
  <div class="tool-footer">
    <button id="create-new-post">Post</button>
    {% include "contribution/tools.html" %}
  </div>
</div>
{% if current_user.may_post_in( topic.board ) %}
  {% if topic.closed %}
  <div id="this-topic-is-closed">
    This topic is closed
  </div>
  <div id="new-post-button" style="display:none">
    Click here to contribute <small>(or just start typing)</small>
  </div>
  {% else %}
  <div id="new-post-button">
    Click here to contribute <small>(or just start typing)</small>
  </div>
  <div id="this-topic-is-closed" style="display:none">
    This topic is closed
  </div>
  {% endif %}
{% else %}
<div id="you-may-not-post-here">
  You may not post here
</div>
{% endif %}
