<div id="input-wrapper">
  <div id="new-topic-title" class="inputheader" contenteditable="True"></div>
  <article id="new-post" class="inputheader" contenteditable="True"></article>
  <div class="tool-footer">
    <button id="create-new-topic">Post</button>
    {% include "input/tools.html" %}
  </div>
</div>
{% if current_user.may_post_in( board ) %}
<div id="new-topic-button">
  Click here to create a new discussion <small>(or just start typing)</small>
</div>
{% else %}
<div id="you-may-not-post-here">
  You may not post here
</div>
{% endif %}
