<!doctype html>
{% extends "base.html" %}
{% block content %}
{% include "dialogs/groups.html" %}
<div id="adminwrapper">
<b>Manage Groups</b><br/>
<nav id="groupnav">
<ul>
{% for group in groups %}
  <li group-id={{group.id}} class="label{{ group.label }}">{{group.name}}</li>
{% endfor %}
  <li group-id="0" id="newgroup">
  <input id="newgroupname" placeholder="New group"/>
  </li>
</ul>
<div class="clear"></div>
</nav><br/>
{% for group in groups %}
  <div group-id="{{group.id}}" class="groupmenu
        {% if group.id == 3 or group.id == 4 %}
          readonly
        {% endif %}
        ">
    <!--span class="groupdescription">{{group.description}}</span><br-->
    <div class="header"> 
      <div class="colorpicker label0 {% if group.has_label(0) %} picked {% endif %}" label-id=0>
      </div>
      <div class="colorpicker label1 {% if group.has_label(1) %} picked {% endif %}" label-id=1>
      </div>
      <div class="colorpicker label2 {% if group.has_label(2) %} picked {% endif %}" label-id=2>
      </div>
      <div class="colorpicker label3 {% if group.has_label(3) %} picked {% endif %}" label-id=3>
      </div>
      <div class="colorpicker label4 {% if group.has_label(4) %} picked {% endif %}" label-id=4>
      </div>
      <div class="groupflags">
       {% if not (group.id == 3 or group.id == 4) %}
         <label>
          <input type="checkbox" class="groupflag mayclose" {% if group.may_close %} checked {% endif %}>
          May close threads 
         </label>
         <label>
          <input type="checkbox" class="groupflag mayedit" {% if group.may_edit %} checked {% endif %}>
          May edit arbitrary posts
         </label>
         <label>
          <input type="checkbox" class="groupflag maystick" {% if group.may_stick %} checked {% endif %}>
          May create stickies
         </label>
         {% endif %}
     </div>
     <div class="clear"></div>
    </div>
     <ul class="groupuserlist">
     {% for member in group.members %}
      <li user-id="{{member.id}}" class="user">
        {{ member.username }}
        {% if not (group.id == 3 or group.id == 4) %}
          <img class="deletefromgroup" src="{{ url_for('static', filename='close-small.png')}}"/>
        {% endif %}
      </li>
      {% endfor %}
      {% if not (group.id == 3 or group.id == 4) %}
      <li user-id="0" class="newuser">
      <input placeholder="Add user"/>
      <div class="newusermenu">
          <ul></ul>
      </div>  
      </li>
      {% endif %}
     </ul>
     <div class="grouptools">
      {% if group.id > 4 %}
        <button class="deletegroup"><img src="{{ url_for('static', filename='trash.png') }}"/></button>
      {% endif %}
     </div>
    <div class="clear"></div>
  </div>
{% endfor %}
  <div id="welcomegrouptip" class="groupmenu groupmenutip" style="display:block">
    Hi! Welcome to group management. <br/>
    Please select a group from the list above<br/>
  </div>
  <div id="newgrouptip" class="groupmenu groupmenutip" group-id="0">
     Want to create a new group?<br/>
     Type the name and hit Enter
  </div>
<div class="clear"></div>
</div>
{% endblock %}
