<div id="showmodelist">
  Show group rights
  <img src="{{ url_for('static', filename='chevron-down-white.png') }}">
</div>
<div id="hidemodelist">
  Hide group rights
  <img src="{{ url_for('static', filename='chevron-up-white.png') }}">
</div>
<div id="modelist">
  <div id="modelistignorant" class="grouplistwrapper">
    <header>No Rights</header>
    <ul class="grouplist">
     {% for group in board.ignorantgroups %}
     <li group-id="{{ group.id }}" class="label{{ group.label }}">{{ group.name }}</li>
     {% endfor %}
    </ul>
  </div>
  <div id="modelistreadonly" class="grouplistwrapper">
    <header>Can read this board</header>
    <ul class="grouplist">
     {% for group in board.readonlygroups %}
     <li group-id="{{ group.id }}" class="label{{ group.label }}">{{ group.name }}</li>
     {% endfor %}
    </ul>
  </div>
  <div id="modelistposter" class="grouplistwrapper">
    <header>Can read this board and create posts</header>
    <ul class="grouplist">
     {% for group in board.postergroups %}
     <li group-id="{{ group.id }}" class="label{{ group.label }}">{{ group.name }}</li>
     {% endfor %}
    </ul>
  </div>
  <div class="clear"></div>
  <div id="lihiddeninput" class="hidden"></div>
</div>
