<!doctype html>
{% extends "base.html" %}
{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='dialogs.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='labels.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='admin/admin.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='admin/groups.css') }}">
{% endblock %}
{% block navigation %}
<nav id="header-nav">
  <button id="show-user-menu" class="icon menu-button">&#xf0c9;</button>
  <button id="show-moderator-menu" class="icon menu-button">&#xf1de;</button>
  <button id="show-admin-menu" class="icon menu-button">&#xf1b3;</button>
</nav>
{% endblock %}
{% block content %}
<div id="user-menu">
 {% include "menu/account.html" %}
</div>
<div id="admin-menu">
 {% include "menu/admin.html" %}
</div>
<div id="moderator-menu">
  {% include "menu/moderation.html" %}
</div>
{% include "dialogs/groups.html" %}
<div id="adminwrapper">
<nav id="group-navigation">
  <ul>
    {% for group in groups %}
      <li group-id={{ group.id }}>
        <span class="icon group-pennon label-{{ group.label }}">&#xf02e;</span>
        <span class="group-name">{{ group.name }}</span> 
      </li>
    {% endfor %}
    <li group-id="0" id="new-group">
    <input id="new-group-name" placeholder="New group"/>
    </li>
  </ul>
  <div class="clear"></div>
</nav>
{% for group in groups %}
  <div group-id="{{group.id}}" class="group-properties-menu">

    <div class="current-group-name">{{ group.name }}</div>
    <div class="group-property-colorpicker"> 
      <div class="colorpicker background-label-0 {% if group.has_label(0) %} picked {% endif %}" label-id=0>
      </div>
      <div class="colorpicker background-label-1 {% if group.has_label(1) %} picked {% endif %}" label-id=1>
      </div>
      <div class="colorpicker background-label-2 {% if group.has_label(2) %} picked {% endif %}" label-id=2>
      </div>
      <div class="colorpicker background-label-3 {% if group.has_label(3) %} picked {% endif %}" label-id=3>
      </div>
      <div class="colorpicker background-label-4 {% if group.has_label(4) %} picked {% endif %}" label-id=4>
      </div>
      <div class="colorpicker background-label-5 {% if group.has_label(5) %} picked {% endif %}" label-id=5>
      </div>
      <div class="colorpicker background-label-6 {% if group.has_label(6) %} picked {% endif %}" label-id=6>
      </div>
      <div class="clear"></div>
    </div>

    <div class="group-property-rights">
      {% if not (group.id == 3 or group.id == 4) %}
        <div class="option">
          <input id="{{ group.id }}-may-close" type="checkbox" class="group-right may-close" {% if group.may_close %} checked {% endif %}/>
          <label for="{{ group.id }}-may-close">
            <span>May close threads</span>
          </label>
        </div>
        <div class="option">
          <input id="{{ group.id }}-may-edit" type="checkbox" class="group-right may-edit" {% if group.may_edit %} checked {% endif %}/>
          <label for="{{ group.id }}-may-edit">
           <span>May edit arbitrary posts</span>
          </label>
        </div>
        <div class="option">
          <input id="{{ group.id }}-may-stick" type="checkbox" class="group-right may-stick" {% if group.may_stick %} checked {% endif %}/>
          <label for="{{ group.id }}-may-stick">
           <span>May create stickies</span>
          </label>
        </div>
      {% endif %}
    </div>

    <div class="group-property-members {% if group.id == 3 or group.id == 4 %} group-property-members-readonly {% endif %}">
      <ul>
        {% for member in group.members %}
          <li user-id="{{member.id}}" class="user">
             {{ member.username }}
             {% if not (group.id == 3 or group.id == 4) %}
               <img class="delete-from-group" src="{{ url_for('static', filename='close-small.png')}}"/>
             {% endif %}
           </li>
        {% endfor %}
        {% if not (group.id == 3 or group.id == 4) %}
          <li user-id="0" class="new-member">
          <input placeholder="Add user"/>
          <div class="new-member-menu">
            <ul></ul>
            <div class="empty-list">No match.</div>
          </div>  
          </li>
        {% endif %}
      </ul>
      <div class="group-tools">
       {% if group.id > 4 %}
         <button class="delete-group"><img src="{{ url_for('static', filename='trash.png') }}"/></button>
       {% endif %}
      </div>
      <div class="clear"></div>
    </div>
  </div>
{% endfor %}
  <div id="new-group-tip" class="group-properties-menu" group-id="0">
     Want to create a new group?<br/>
     Type the name and hit Enter
  </div>
<div class="clear"></div>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('js', filename='admin/groups.js') }}"></script>
{% endblock %}
