<div id="mode-list-dropdown" class="closed-dropdown" dropdown-menu-id="mode-list">
  Group rights <div class="icon icon-dropdown"></div>
</div>
<div id="mode-list">
  <div id="ignorant-mode" class="mode">
    <header>No Rights</header>
    <ul>
     {% for group in board.ignorantgroups %}
     <li group-id="{{ group.id }}" class="background-label-{{ group.label }}">{{ group.name }}</li>
     {% endfor %}
    </ul>
  </div>
  <div id="readonly-mode" class="mode">
    <header>May read this board</header>
    <ul>
     {% for group in board.readonlygroups %}
     <li group-id="{{ group.id }}" class="background-label-{{ group.label }}">{{ group.name }}</li>
     {% endfor %}
    </ul>
  </div>
  <div id="poster-mode" class="mode">
    <header>May read and post</header>
    <ul>
     {% for group in board.postergroups %}
     <li group-id="{{ group.id }}" class="background-label-{{ group.label }}">{{ group.name }}</li>
     {% endfor %}
    </ul>
  </div>
  <div class="clear"></div>
  <div id="lihiddeninput" class="hidden"></div>
</div>
