<div tooltip="post" class="postitem 
{% if post.isfresh %} fresh {% endif %}"
{% if jumpmark == post.id %} jumphere {% endif %}
>
<!--a id="post{{ post.id }}" class="postheader"></a-->
  <div class="postheader">
    {% if post.creator.is_anonymous() %}
      <div class="profileimage" style="background-image:url('/static/anonymous.png')"></div>
      <div class="postcreator">Guest</div>
    {% else %}
      <div class="profileimage" style="background-image:url('{{ post.creator.profileimage }}')"></div>
      <div class="postcreator">{{ post.creator.username }} wrote</div>
    {% endif %}
  <div class="clear"></div>
  </div>
  <article class="post">
   {{ post.content | safe }}
 </article>
 <div class="clear"></div>
<div class="postfooter">{{ post.id }}</div>
</div>
