<div tooltip="post" post-id="{{ post.id }}" 
     {% if post.is_first_post %} first-post="True" {% endif %}
     class="post-item {% if post.isfresh %} fresh {% endif %}"
     replies = "{% for reply in post.replies %}{{ reply.id }} {% endfor %}"
     references = "{% for reference in post.references %}{{ reference.id }} {% endfor %}"
     >
     
  <div class="post-header">
    {% if post.creator.is_anonymous() %}
      <div class="profile-image" style="background-image:url('/static/anonymous.png')"></div>
      <div class="post-creator">Guest</div>
    {% else %}
      <div class="profile-image" style="background-image:url('{{ post.creator.profileimage }}')"></div>
      <div class="post-creator">{{ post.creator.username }} wrote</div>
    {% endif %}
    <div class="post-actions">
      <button class="post-action-context post-action"><span class="icon">&#xf0e8;</span></button>
      {% if current_user.may_post_in(post.topic.board) %}
        <button class="post-action-quote post-action"><span class="icon">&#xf10e;</span></button>
        {% if current_user.may_edit(post) %}
          <button class="post-action-edit post-action"><span class="icon">&#xf040;</span></button>
        {% endif %}
        <button class="post-action-reply post-action"><span class="icon">&#xf112;</span></button>
      {% endif %}
    </div>
    <div class="post-actions-edit-mode">
      <button class="post-action-close-edit-mode post-action"><span class="icon">&#xf00d;</span></button>
    </div>
  <div class="clear"></div>
  </div>
  {% if post.is_first_post %}
  <div id="editable-topic-title" class="inputheader" contenteditable="True">
    {{ post.topic.title }}
  </div>
  {% endif %}
  <article class="post">
   {{ post.content | safe }}
 </article>
 {% include "contribution/edit.html" %}
<div class="postfooter"></div>
</div>
