<div topic-id="{{ topic.id }}" topic-closed="{{ topic.closed }}" class="topicitem 
    {% if topic.isfresh %} fresh {% endif %}
    {% if topic.closed %} topicclosed {% endif %}
    ">
  <a class="divwrapper" href="/topic/{{ topic.seostring }}">
    <div class="topictitle">
     <span class="topictitle">{{ topic.title | safe }}</span> 
    </div>
   </a> 
   <div class="topictools">
   {% if current_user.may_close %}
     {% if topic.closed %}
       <button class="closethread" style="display:none"></button>
       <button class="openthread"></button>
     {% else %}
       <button class="closethread"></button>
       <button class="openthread" style="display:none"></button>
     {% endif %}
   {% else %}
     {% if topic.closed %}
       <div class="openthread" style="display:block"></div>
     {% endif %}
   {% endif %}
   </div>
<div class="clear"></div>
</div>
