    <div id="alert_ajax" class="error banner">Error connecting to server</div>
    <div id="alert_alreadyingroup" class="error banner">... is already in this group</div>
    <div id="alert_userexists" class="error banner">Try another username</div>
    <div id="alert_emailexists" class="error banner">This email already exists</div>
    <div id="alert_loginfailed" class="error banner">You've entered a wrong password</div>
    <div id="alert_registered" class="notice banner">Yay! Welcome.. Now log in please:</div>
    <div id="alert_readonlygroup" class="error banner">This group is read-only</div>
    <div id="alert_lockoutprevented" class="error banner">I can't let you do this. This would lock you out.</div>
