<!doctype html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='base.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='helpers.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='alerts/global.css') }}">
{% block head %}{% endblock %}
</head>
<body>
<div id="body-wrapper">
<header>
<a href="/">
  <div id="headertitle">
  <span id="community">title</span><br />
  <span id="slogan">subtitle</span>
  </div>
</a>
<div class="clear"></div>
</header>
{% include "alerts/global.html" %}
<br />
{% block content %}{% endblock %}
<script src="{{ url_for('js', filename='jquery-1.9.1.min.js') }}"></script>
<script src="{{ url_for('js', filename='jquery.json-2.4.min.js') }}"></script>
<script src="{{ url_for('js', filename='jquery-autogrow.min.js') }}"></script>
<script src="{{ url_for('js', filename='jquery-visible.min.js') }}"></script>
<script src="{{ url_for('js', filename='jquery-spellfade.js') }}"></script>
<script src="{{ url_for('js', filename='jquery-ui-1.10.4.custom.min.js') }}"></script>
<script src="{{ url_for('js', filename='main.js') }}"></script>
<script src="{{ url_for('js', filename='exceptions.js') }}"></script>
<script src="{{ url_for('js', filename='dialogs.js') }}"></script>
{% block script %}{% endblock %}
{% if alert is defined %}
  <script>
    alertGlobal("{{ alert }}");
  </script>
{% endif %}
</div>
</body>
