<div class="boardentry">
 <a class="divwrapper" href="/board/{{ board.id }}">
  <div class="boardtitle">
   <span class="boardtitle">{{ board.title }}</span> 
   <span class="boarddescription">{{ board.description }}</span>
   {% if current_user.may_structure %}
   <a href="/updateboard/{{ board.id }}" class="editboard"><img src="{{url_for('static', filename='edit.png')}}"/></a>
   {% endif %}
 </div>
 </a> 
<div class="lastpost"><b>XYZ</b> wrote in <i>Main topic</i>: What a boring topic</div>
<div class="clear"></div>
</div>
