<!doctype html>
{% extends "base.html" %}
{% block content %}
<div id="board" may-post="{{ current_user.may_post_in (board) }}" board-id="{{ board.id }}">
 <div id="boardtitlewrapper">
  <h1 id="boardtitle"><a href="/" id="goback">..
   <span id="gobacktooltip">Back to board list</span>
  </a> {{ board.title }}</h1>
  <div id="boardtools">
  </div>
  <div class="clear"></div>
 </div>
 {% include "input/topic.html" %}
 {% for topic in topics %}
   {% include "items/topic.html" %}
 {% endfor %}
</div> 
{% endblock %}
