<!doctype html>
{% extends "base.html" %}
{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='board.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='format.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='input/input.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='input/topic.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='input/tools.css') }}">
{% endblock %}
{% block content %}
<div id="board" may-post="{{ current_user.may_post_in (board) }}" board-id="{{ board.id }}">
 <div id="boardtitlewrapper">
  <h1 id="boardtitle"><a href="/" id="goback">..
   <span id="gobacktooltip">Back to board list</span>
  </a> {{ board.title }}</h1>
  <div id="boardtools">
  </div>
  <div class="clear"></div>
 </div>
 {% include "input/topic.html" %}
 {% for topic in topics %}
   {% include "items/topic.html" %}
 {% endfor %}
</div> 
{% endblock %}
{% block script %}
<script src="{{ url_for('js', filename='board.js') }}"></script>
<script src="{{ url_for('js', filename='input/topic.js') }}"></script>
<script src="{{ url_for('js', filename='input/tools.js') }}"></script>
{% endblock %}
