<!doctype html>
{% extends "base.html" %}
{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='index.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='snappers.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='items/items.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='items/board.css') }}">
{% endblock %}
{% block navigation %}
<nav id="header-nav">
  <button id="show-user-menu" class="icon menu-button">&#xf0c9;</button>
  {% if current_user.may_ban %}
    <button id="show-moderator-menu" class="icon menu-button">&#xf1de;</button>
  {% endif %}
  {% if current_user.may_structure %}
    <button id="show-admin-menu" class="icon menu-button">&#xf1b3;</button>
  {% endif %}
</nav>
{% endblock %}
{% block content %}
{% if not current_user.is_anonymous() %}
<div id="top-action">
  <a class="no-text-decoration" href="/account/logout">
    <span class="icon icon-tooltip">&#xf08b;</span><br/>
    Log out<br/>
  </a>
</div>
<div id="snap-tooltip-top">
  <span class="icon icon-tooltip">&#xf08b;</span><br/>
  Let go to log out<br/>
</div>
{% endif %}
<h1 id="index-header">
  Board Index
</h1>
<div id="index">
{% for board in boards %}
    {% include "items/board.html" %}
{% endfor %}
</div>
<div class="clear"></div>
{% endblock %}
{% block admin_menu_before_defaults %}
{% if current_user.may_structure %}
 <div class="menu-item">
   <a href="/admin/newboard"><span class="icon menu-icon">&#xf055;</span> Add new board</a>
 </div>
{% endif %}
{% endblock %}
{% block user_menu_after_defaults %}
 {% if not current_user.is_anonymous() %}
 <div id="filter-dropdown" class="closed-dropdown" tooltip="filter">
   Filters <div class="icon icon-dropdown"></div>
 </div>
 <div id="filter-menu" tooltip="filter">
     <div class="filter-option">
       <input type="checkbox" class="checkbox" id="filter-option-favorited">
       <label for="filter-option-favorited" class="checkbox-label"><span>Only my favorite boards</span></label>
     </div>
     <div class="filter-option">
       <input type="checkbox" class="checkbox" id="filter-option-unread">
       <label for="filter-option-unread" class="checkbox-label"><span>Only boards with unread posts</span></label>
     </div>
     <div class="filter-option">
       <input type="checkbox" class="checkbox" id="filter-option-new-topics">
       <label for="filter-option-new-topics" class="checkbox-label"><span>Only boards with new topics</span></label>
     </div>
     <div class="filter-option">
       <input type="checkbox" class="checkbox" id="filter-option-followed">
       <label for="filter-option-followed" class="checkbox-label"><span>Only boards with topics I follow</span></label>
     </div>
 </div>
 {% endif %}
{% endblock %}
{% block script %}
<script src="{{ url_for('js', filename='snappers.js') }}"></script>
<script src="{{ url_for('js', filename='index.js') }}"></script>
{% endblock %}
