<!doctype html>
{% extends "base.html" %}
{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='index.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='snappers.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='items/items.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='items/board.css') }}">
{% endblock %}
{% block navigation %}
<nav id="header-nav">
  <button id="show-user-menu" class="icon menu-button">&#xf0c9;</button>
  {% if current_user.may_ban %}
    <button id="show-moderator-menu" class="icon menu-button">&#xf1de;</button>
  {% endif %}
  {% if current_user.may_structure %}
    <button id="show-admin-menu" class="icon menu-button">&#xf1b3;</button>
  {% endif %}
</nav>
{% endblock %}
{% block content %}
{% if not current_user.is_anonymous() %}
<div id="top-action">
  <a class="no-text-decoration" href="/account/logout">
    <span class="icon icon-tooltip">&#xf08b;</span><br/>
    Log out<br/>
  </a>
</div>
<div id="snap-tooltip-top">
  <span class="icon icon-tooltip">&#xf08b;</span><br/>
  Let go to log out<br/>
</div>
{% endif %}
<h1 id="index-header">
  Board Index
</h1>
<div id="index">
{% for board in boards %}
    {% include "items/board.html" %}
{% endfor %}
</div>
<div id="user-menu">
 {% include "menu/account.html" %}
 {% if not current_user.is_anonymous() %}
 <div id="filter-dropdown" class="closed-dropdown" tooltip="filter">
   Filters <div class="icon icon-dropdown"></div>
 </div>
 <div id="filter-menu" tooltip="filter">
     <div class="filter-option">
       <input type="checkbox" class="checkbox" id="filter-option-favorited">
       <label for="filter-option-favorited" class="checkbox-label"><span>Only my favorite boards</span></label>
     </div>
     <div class="filter-option">
       <input type="checkbox" class="checkbox" id="filter-option-unread">
       <label for="filter-option-unread" class="checkbox-label"><span>Only boards with unread posts</span></label>
     </div>
     <div class="filter-option">
       <input type="checkbox" class="checkbox" id="filter-option-new-topics">
       <label for="filter-option-new-topics" class="checkbox-label"><span>Only boards with new topics</span></label>
     </div>
     <div class="filter-option">
       <input type="checkbox" class="checkbox" id="filter-option-followed">
       <label for="filter-option-followed" class="checkbox-label"><span>Only boards with topics I follow</span></label>
     </div>
 </div>
 {% endif %}
 <div id="tooltip">
   <div id="tooltip-default">
     Hi! Welcome. Choose a board, that matches your interests.
   </div>
   <div id="tooltip-sorting">
     Select a sorting method from the list.
     Click on a selected item to switch from
     ascending to descending and vice versa.
   </div>
   <div id="tooltip-filter">
     Toggle filters to narrow the list of
     topics.
   </div>
 </div>
</div>
<div id="moderator-menu">
  {% include "menu/moderation.html" %}
</div>
{% if current_user.may_structure %}
<div id="admin-menu">
 <div class="menu-item">
   <a href="/admin/newboard"><span class="icon menu-icon">&#xf055;</span> Add new board</a>
 </div>
 {% include "menu/admin.html" %}
</div>
{% endif %}
<div class="clear"></div>
{% endblock %}
{% block script %}
<script src="{{ url_for('js', filename='snappers.js') }}"></script>
<script src="{{ url_for('js', filename='index.js') }}"></script>
{% endblock %}
