<!doctype html>
{% extends "base.html" %}
{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='index.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='items/board.css') }}">
{% endblock %}
{% block content %}
{% if current_user.may_structure %}
  <div id="admintools">
    <div id="createnewboard">
       <a href="/admin/newboard"><img src="{{ url_for('static', filename='plus.png') }}"/></a>
    </div>
    <div class="clear"></div>
  </div>
{% endif %}
{% for board in boards %}
    {% include "items/board.html" %}
{% endfor %}
{% endblock %}
