<!doctype html>
{% extends "base.html" %}
{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='topic.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='format.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='labels.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='snappers.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='infobanners.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='input/input.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='input/post.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='input/tools.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='items/post.css') }}">
{% endblock %}
{% block navigation %}
<nav id="header-nav">
  <button id="show-user-menu" class="icon menu-button">&#xf0c9;</button>
  {% if current_user.may_ban or current_user.may_stick or current_user.may_close %}
    <button id="show-moderator-menu" class="icon menu-button">&#xf1de;</button>
  {% endif %}
  {% if current_user.may_structure %}
    <button id="show-admin-menu" class="icon menu-button">&#xf1b3;</button>
  {% endif %}
</nav>
{% endblock %}
{% block outer %}
<div id="previous-topic">
  <a class="no-text-decoration" href="/topic/{{ topic.previous.seostring }}">
    <div id="previous-topic-icon" class="icon icon-tooltip">&#xf053;</div>
  </a>
  <a class="no-text-decoration" href="/topic/{{ topic.previous.seostring }}">
    <div id="previous-topic-title">{{ topic.previous.title }}</div>
  </a>
</div>
<div id="next-topic">
  <a class="no-text-decoration" href="/topic/{{ topic.next.seostring }}">
    <div id="next-topic-icon" class="icon icon-tooltip">&#xf054;</div>
  </a>
  <a class="no-text-decoration" href="/topic/{{ topic.next.seostring }}">
    <div id="next-topic-title">{{ topic.next.title }}</div>
  </a>
</div>
{% endblock %}
{% block content %}
<div id="top-action">
  <a class="no-text-decoration" href="/board/{{ topic.board.seostring }}">
    <span class="icon icon-tooltip">&#xf148;</span><br/>
    Jump to board list
  </a>
</div>
<div id="snap-previous-topic">
  <div id="snap-previous-topic-icon" class="icon icon-tooltip">&#xf053;</div>
  Let go to switch to <div id="snap-previous-topic-title">{{ topic.previous.title }}</div>
</div>
<div id="snap-next-topic">
  <div id="snap-next-topic-icon" class="icon icon-tooltip">&#xf054;</div>
  Let go to switch to <div id="snap-next-topic-title">{{ topic.next.title }}</div>
</div>
<div id="snap-tooltip-top">
  <span class="icon icon-tooltip">&#xf148;</span><br/>
  Let go to jump to topic list<br/>
</div>
<br/>
<h1 id="topic-title">
  {{ topic.title | safe }}
</h1>
<br/>
<div id="topic" may-post="{{ current_user.may_post_in(topic.board) }}" 
                topic-id="{{ topic.id }}" 
                board-id="{{ topic.board_id }}" 
                previous-topic-id="{{ topic.previous.id }}"
                next-topic-id="{{ topic.next.id }}"
                topic-closed="{{ topic.closed }}">
 {% include "input/post.html" %}
 <div id="itemloader-top">
   <div id="info-init" class="hidden">Loading posts</div>
   <div id="info-older-items" class="hidden">Loading older posts</div>
 </div>
 <div id="itemcontainer" class="contentspinner" reloading="false">
 </div>
 <div id="itemloader-bottom">
   <div id="info-newer-items" class="hidden">Loading newer posts</div>
   <div id="info-rockbottom" class="hidden">You hit rock bottom!</div>
 </div>
</div>
<div id="moderator-menu">
  {% if topic.sticky %}
    <button id="pin-topic" class="moderator-action switch switch-button-activate" switched-button="unpin-topic" style="display:none">
      <span class="icon menu-icon">&#xf08d;</span> Pin topic
    </button>
    <button id="unpin-topic" class="moderator-action switch switch-button-deactivate" switched-button="pin-topic">
      <span class="icon menu-icon">&#xf08d;</span> Unpin topic
    </button>
  {% else %}
    <button id="pin-topic" class="moderator-action switch switch-button-activate" switched-button="unpin-topic">
      <span class="icon menu-icon">&#xf08d;</span> Pin topic
    </button>
    <button id="unpin-topic" class="moderator-action switch switch-button-deactivate" switched-button="pin-topic" style="display:none">
      <span class="icon menu-icon">&#xf08d;</span> Unpin topic
    </button>
  {% endif %}
  {% if topic.closed %}
    <button id="close-topic" class="moderator-action switch switch-button-activate" switched-button="reopen-topic" style="display:none">
      <span class="icon menu-icon">&#xf023;</span> Close topic
    </button>
    <button id="reopen-topic" class="moderator-action switch switch-button-deactivate" switched-button="close-topic">
      <span class="icon menu-icon">&#xf13e;</span> Reopen topic
    </button>
  {% else %}
    <button id="close-topic" class="moderator-action switch switch-button-activate" switched-button="reopen-topic">
      <span class="icon menu-icon">&#xf023;</span> Close topic
    </button>
    <button id="reopen-topic" class="moderator-action switch switch-button-deactivate" switched-button="close-topic" style="display:none">
      <span class="icon menu-icon">&#xf13e;</span> Reopen topic
    </button>
  {% endif %}
  {% include "menu/moderation.html" %}
</div>
<div id="user-menu">
  {% include "menu/account.html" %}
  <div id="topic-tools">
   {% if not current_user.is_anonymous() %}
     {% if topic.followed %}
       <button id="follow-topic" class="user-action switch switch-button-activate" switched-button="unfollow-topic" style="display:none">
         <span class="icon menu-icon">&#xf024;</span> Alert me about new posts
       </button>
       <button id="unfollow-topic" class="user-action switch switch-button-deactivate" switched-button="follow-topic">
         <span class="icon menu-icon">&#xf11d;</span> Don't alert me about new posts
       </button>
     {% else %}
       <button id="follow-topic" class="user-action switch switch-button-activate" switched-button="unfollow-topic">
         <span class="icon menu-icon">&#xf024;</span> Alert me about new posts
       </button>
       <button id="unfollow-topic" class="user-action switch switch-button-deactivate" switched-button="follow-topic" style="display:none">
         <span class="icon menu-icon">&#xf11d;</span> Don't alert me about new posts
       </button>
     {% endif %}
   {% endif %}
  </div>
 {% if not current_user.is_anonymous() and not post_filter_dispatcher.is_empty %}
 <div id="filter-dropdown" class="closed-dropdown" dropdown-menu-id="filter-menu" tooltip="filter">
   Filters <div class="icon icon-dropdown"></div>
 </div>
 <div id="filter-menu" tooltip="filter">
     {% for post_filter in post_filter_dispatcher %}
       {% include post_filter.template %}
     {% endfor %}
 </div>
 {% endif %}
<div id="tooltip">
  <div id="tooltip-default">
  </div>
  <div id="tooltip-filter">
     Toggle filters to narrow the list of
     posts.
  </div>
  <div id="tooltip-post">
     Double Click on a post to answer it
  </div>
</div>
</div>
{% if current_user.may_structure %}
<div id="admin-menu">
 {% include "menu/admin.html" %}
</div>
{% endif %}
{% endblock %}
{% block script %}
<script src="{{ url_for('js', filename='scrolling.js') }}"></script>
<script src="{{ url_for('js', filename='jquery.swipesnap.js') }}"></script>
<script src="{{ url_for('js', filename='items/post.js') }}"></script>
<script src="{{ url_for('js', filename='topic.js') }}"></script>
<script src="{{ url_for('js', filename='input/post.js') }}"></script>
<script src="{{ url_for('js', filename='input/tools.js') }}"></script>
{% endblock %}
