<!doctype html>
{% extends "base.html" %}
{% block content %}
<div id="topic" may-post="{{ current_user.may_post_in(topic.board) }}" topic-id="{{ topic.id }}" topic-closed="{{ topic.closed }}">
 <div id="topictitlewrapper">
  <h1 id="topictitle">
   <a href="/board/{{ topic.board_id }}" id="goback">..
    <span id="gobacktooltip">Back to topic list</span>
   </a>{{ topic.title | safe }}
  </h1>
  <div id="topictools">
   {% if not current_user.is_anonymous() %}
     {% if topic.followed %}
       <button id="followswitch" class="toolbutton unfollow" switched="Follow">Unfollow</button> 
     {% else %}
       <button id="followswitch" class="toolbutton follow" switched="Unfollow">Follow</button> 
     {% endif %}
   {% endif %}
  </div>
   <div class="clear"></div>
 </div>
 {% include "input/post.html" %}
 {% for post in posts %}
  {% include "items/post.html" %}
 {% endfor %}
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('js', filename='topic.js') }}"></script>
<script src="{{ url_for('js', filename='input/post.js') }}"></script>
<script src="{{ url_for('js', filename='input/tools.js') }}"></script>
{% endblock %}
