/*
    This file is part of Morse.

    Morse is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Morse is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Morse.  If not, see <http://www.gnu.org/licenses/>.
*/

body {
  font-family:'Roboto';
  font-size:11pt;
}

input {
  padding:5pt;
  border:1pt solid #ccc;
  border-radius:3pt;
}

button {
  font: 12pt 'Roboto' !important;
  color:#fff;
  padding:5pt;
  border-radius:3pt;
  cursor:pointer;
}

textarea { 
  font: 11pt 'Roboto'; 
}

/* header -------------------------------------- */

header {
  background:#3D322E; 
  border-radius: 3pt;
  padding:5pt 5pt 5pt 5pt; 
  color:#fff !important;
}

    header a {
      color:#fff;
    }
    
    header a:visited {
      color:#fff;
    }

    #headertitle{
      float:left;
    }

        #community {
          font-size: 20pt;
          font-weight: 900;
        }


        #slogan {
          font-size: 12pt;
        }


    header .profileimage{
      background-size: 64px 64px;
      border-radius: 50%;
      display: block;
      height: 64px;
      width: 64px;
      border:2pt solid white;
      float:right;
      cursor:pointer;
    }

        .navmenu{
          position:absolute;
          display:none;
          background:#eee; 
          border-radius:3pt;
          border:1pt solid #ccc;
          padding:5pt;
          font-size:11pt;
          margin-top:5pt;
          float:right;
          width:200pt;
          left:70%;
        }

            #gotologin{
              background:#FABE28;
              border:1pt solid #FABE28;
              width:41%;
              margin-left:5pt;
            }

            #gotoregister{
              background:#FF8A00;
              border:1pt solid #FF8A00;
              width:41%;
              margin-left:5pt;
            }

            #dologout{
              background:#DB3026;
              border:1pt solid #DB3026;
              width:41%;
              margin-left:5pt;
            }


            #showsettings{
              background:#67DAD7;
              border:1pt solid #67DAD7;
              width:41%;
              margin-left:5pt;
            }

.banner{
  display:none;
  padding:5pt;
  font-size:10pt;
  background:#F08D37;
  border-radius:3pt;
  font: 11pt 'Roboto';
  margin-top:10pt;
}

.error{
  background:#F08D37;
}

.notice{
  background:#88C100;
}



/* --------------------------------------------- */




/* index --------------------------------------- */

#goback{
  font-size:15pt;
  color:#DB3026;
  text-decoration:none;
}

.boardentry {
  border-radius: 3pt;
  border: 1pt solid #ccc;
  padding:5pt 5pt 5pt 5pt;
  margin-bottom:5pt;
}

.boardentry:hover {
  background:#eef;
}

    .boardtitle {
      font-weight:bold;
      font-size:12pt;
      color:#000;
    }

    .boarddescription {
      font-size:10pt;
      color:#000;
    }

/* --------------------------------------------- */



/* board --------------------------------------- */

#boardtitle {
  font-weight:bold;
  color:#000;
  margin-top: -5pt;
  padding:0;
  font-size:30pt;
  float:left;
}

#boardtools {
  float:left;
  margin-left:10pt;
}

.topicentry {
  border-radius: 3pt;
  border: 1pt solid #ccc;
  padding:5pt 5pt 5pt 5pt;
  margin-bottom:5pt;
}

.topicentry:hover {
  background:#eef;
}

    .topictitle{
      color:#000;
      font-weight:bold;
    }

    .lastpost {
      display:none;
      background: #BDF067;
      border-radius-bottom-left: 3pt;
      border-radius-bottom-right: 3pt;
      padding:5pt;
      margin:-5pt;
      margin-top:2pt;
      font-size:10pt;
    }

    .lasttopics {
      display:none;
      background: #DDEAD0;
      border-radius-bottom-left: 3pt;
      border-radius-bottom-right: 3pt;
      padding:5pt;
      margin:-5pt;
      margin-top:2pt;
      font-size:10pt;
    }

.accessdenied{
  margin-top:30pt;
  text-align:center;
}

.accessdenied #goback{
  color:#DB3026;
  text-decoration:none;
}

/* --------------------------------------------- */




/* topic --------------------------------------- */

#topictitle {
  font-weight:bold;
  color:#000;
  margin-top: -5pt;
  padding:0;
  font-size:30pt;
  float:left;
}

#topictools{
  float:left;
  padding-left:10pt;
}

#gobacktooltip{
  display:none;
}

.postentry {
  border-radius: 3pt;
  border: 1pt solid #ccc;
  padding:5pt 5pt 5pt 5pt;
  margin-bottom:5pt;
}

  .post{
    font-size:11pt;
    float:left;
    width:88%;
    padding:5pt;
    min-height:120px;
    border-left:1pt solid #ccc;
  }

  .postsidebar{
    text-align:center;
    float:left;
    min-width:64px;
    width:7%;
    padding:5pt;
    height:100%;
    margin-right:5pt;
  }

      .postsidebar .profileimage{
        background-size: 64px 64px;
        border-radius: 50%;
        display: block;
        height: 64px;
        width: 64px;
        border:2pt solid white;
        cursor:pointer;
      }

      .postcreator{
        padding:2pt;
        font-weight:bold;
        font-size:10pt;
        text-align:center;
        white-space: pre-wrap;      /* CSS3 */   
        white-space: -moz-pre-wrap; /* Firefox */    
        white-space: -pre-wrap;     /* Opera <7 */   
        white-space: -o-pre-wrap;   /* Opera 7 */    
        word-wrap: break-word;      /* IE */
      }

  .postfooter{
    width:0;
    height:0;
    font-size:0;
  }

/* --------------------------------------------- */




/* input box ----------------------------------- */

#inputwrapper{
  display:none;
  border-radius: 3pt;
  padding:5pt;
  border: 1pt solid #ccc;
}

  #newtopictitle{
    font-size: 10pt;
    outline:none;
    border:none;
    width:80%;
    padding:4pt;
    font-weight:bold;
    font-size:12pt;
  }

  #newtopictext{
    font: 10pt 'Roboto';
    outline:none;
    border:none;
    width:98%;
    overflow:hidden;
    padding:4pt;
  }

  #newposttext{
    font: 11pt 'Roboto';
    outline:none;
    border:none;
    width:98%;
    overflow:hidden;
    padding:4pt;
  }

/* ------------------------------------------- */




/* tool buttons ------------------------------ */

.toolbutton{
  float:left;
  margin-left:5pt;
  border:none;
}

.follow{
  background:#88C100;
}

.unfollow{
  background:#FF8A00;
}

/* ------------------------------------------- */




/* input toolbar ----------------------------- */

#toolfooter{
  padding:5pt;
}

    #dopost{
      cursor:pointer;
      font-weight:bold;
      background: #ADF057;
      border:1pt solid #ccc;
      border-radius: 2pt;
      float:left;
      color:#000;
      padding:2pt;
      font-size:8pt;
      margin-right:2pt;
    }

    #docreate{
      cursor:pointer;
      font-weight:bold;
      background: #ADF057;
      border:1pt solid #ccc;
      border-radius: 2pt;
      float:left;
      color:#000;
      padding:2pt;
      font-size:10pt !important;
      margin-right:2pt;
    }

    .formattool{
      border:1pt solid #ccc;
      border-radius:2pt !important;
      font-size:10pt !important;
      padding:2pt;
      margin-right:2pt;
      min-width:15pt;
      float:left;
      cursor:pointer;
      color:#000;
    }

    #makebold{
      font-weight:bold !important;
    }

    #makeitalic{
      font-style:italic !important;
    }

    #makequote{
    }

    #makelink{
      color:#7D7Af0;
      background:#fff;
      width:auto;
      margin-right:0;
    }

    #newhref{
      font-family:'Roboto';
      border:none;
      margin:0;
      font-size:9pt;
      padding:0;
      outline:none;
      width:190pt;
    }

    /* this is a (dirty) workaround for a chrome bug */
    .openrightborder{
      border-right: none !important;
      border-top-right-radius:0 !important;
      border-bottom-right-radius:0 !important;
    }

    #closenewhref{
      display:none;
      border-right:1pt solid #ccc;  
      border-bottom:1pt solid #ccc;  
      border-top:1pt solid #ccc;  
      border-left:none;
      border-radius:0 2pt 2pt 0 !important;
      cursor:pointer;
      min-width:15pt;
      padding:2pt;
      margin-right:2pt;
      margin-left:0;
      font-weight:bold;
      font-size:10pt !important;
      color:#444;
      background:#fff;
      float:left;
    }

    #closenewhref img {
      border:none;
      width:12px;
      height:auto;
    }

    #newhrefwrapper{
      display:none;
    }

    #newhref:focus{
      border:none;
      outline:none;
    }

    .inputalert{
      display:none;
      float:left;
      padding:2pt;
      font-size:10pt;
      color: #F08D37;
    }

.disabledbox{
  background:#DDEAD0;
}

#dummylink{
  background:#9DAC99;
  color:#fff;
}


#typinginfo{
  font-size:10pt;
  font-weight:900;
}

/* ------------------------------------------- */




/* styling ----------------------------------- */

blockquote{
  background: #DDEAD0;
  border-radius:2pt;
  padding:5pt;
}

.fresh {
  background: #BDF067;
}

.fresh:hover {
  background: #ADE057;
}

.redoutline{
 border-color:#F08D37 !important;
}

/* ------------------------------------------- */




/* login and signup -------------------------- */

#loginwrapper{
  position:absolute;
  left:35%;
  width:30%;
  padding:5pt;
  text-align: center;
}

    #username{
      font-size: 12pt;
      width:170pt;
    }

    #password{
      font-size: 12pt;
      width:170pt;
    }

    #dologin{
      background:#88C100;
      border:1pt solid #88C100;
      font-size: 12pt;
      width:180pt;
    }

    #signupinfo{
      font-size:10pt;
      padding-left:5pt;
    }

#signupcontrols{
  float:left;
  text-align:center;
}

    #email{
      font-size: 12pt;
      width:170pt;
    }

    #dosignup{
      background:#88C100;
      border:1pt solid #88C100;
      font-size: 12pt;
      width:180pt;
    }

#rules{
  float:left;
  padding:5pt;
  margin-left:5pt;
  border-left:1pt solid #ccc;
  min-height:120pt;
}

/* --------------------------------------------- */




/* settings ------------------------------------ */

#settingswrapper{
  padding:5pt;
}

    #bio{
      outline:none;
      border:1pt solid #ccc;
      border-radius:3pt;
      resize:none;
      width:400pt;
      min-height:100pt;
      padding:5pt;
    }

    .websitewrapper{
      display: inline-block;
      border: 1pt solid #ccc;
      width:400pt;
      border-radius:3pt;
      margin-top:5pt;
      padding:5pt;
    }

        .websitewrapper button{
          border:none;
          background:none;
          padding:0;
          margin:0;
        }

        .websitewrapper button img{
          border:none;
          width:12px;
          height:auto;
        }

        .websitewrapper input{
          font: 11pt 'Roboto';
          border:none;
          padding:0;
          width:380pt;
          outline:none;
        }

    #anotherwebsite{
      border:none;
      background:#FABE28;
      margin-left:1pt;
      float:left;
    }

    #updateinfo{
      margin-left:1pt;
    }

    .updatesettings{
      float:left;
      background:#88C100;
      border:none;
    }

    .settings{
      font: 11pt 'Roboto';
      width:400pt;
      outline:none;
      margin-top:5pt;
      position:relative; 
    }

    .accountsettingsalert{
      float:left;
      display:none;
      padding:5pt;
      font-size:10pt;
      color: #F08D37;
    }

    .infosettingsalert{
      float:left;
      display:none;
      padding:5pt;
      font-size:10pt;
      color: #F08D37;
    }

/* --------------------------------------------- */




/* admin --------------------------------------- */

.editboard{
  border:none;
  padding:none;
  background:none;
  outline:none;
  float:right;
}

#adminwrapper{
  border-radius: 3pt;
  border: 1pt solid #ccc;
  padding:5pt 5pt 5pt 5pt;
  margin-bottom:5pt;
}

    /* new board / update board ---------------- */

    #newboardtitle{
      width:85%;
    }

    #newboarddescription{
      width:85%;
    }

    .adminalert{
      float:left;
      display:none;
      padding:7pt;
      font-size:10pt;
      color: #F08D37;
    }

    #showmodelist{
      width:85%;
      font-size:10pt;
      background:#3D322E;
      border:1pt solid #3D3D2E; 
      border-radius: 3pt;
      padding:5pt 5pt 5pt 5pt; 
      color:#fff;
      cursor:pointer;
    }

        #showmodelist img{
          margin-top:3pt;
          float:right;
          width:12px;
          height:auto;
        }

    #hidemodelist{
      display:none;
      width:85%;
      font-size:10pt;
      background:#3D322E;
      border:1pt solid #3D3D2E; 
      border-radius: 3pt 3pt 0 0;
      padding:5pt 5pt 5pt 5pt; 
      color:#fff;
      cursor:pointer;
    }

        #hidemodelist img{
          margin-top:3pt;
          float:right;
          width:12px;
          height:auto;
        }

    #modelist{
      display:none;
      width:85%;
      border-radius: 0 0 3pt 3pt;
      border:1pt solid #ccc;
      padding:5pt 5pt 5pt 5pt; 
    }

    .grouplistwrapper{
      background:#eee;
      width:23%;
      border-radius:3pt;
      border:1pt solid #ccc;
      float:left;
      margin-right:10pt;
      min-height:200pt;
      text-align:center;
    }

	.grouplist{
      list-style-type:none;
      padding:0;
	  margin:0;
      padding-bottom:40pt;
	}

    .grouplist li{
      background: #ADF057;
      padding:2pt;
	  font-size:11pt;
	  cursor:move;
      margin-left:0;
      display:block;
      margin-bottom:1pt;
	}

    .ui-sortable-helper{
	  opacity:0.75;
	}

	.ddplaceholder{
      background:none !important;
	  border:1pt dashed #aaa;
      padding:5pt;
      margin-left:0;
      display:block;
      margin-bottom:1pt;
	  min-height:14pt;
	}

	.grouplistwrapper header{
	  font-size:10pt;
	  border-radius:3pt 3pt 0pt 0pt;
	  margin:0;
	  padding:5pt;
	  min-height:30pt;
	  background:#333;
	}

    /* group management ------------------------ */
    
    .ui-draggable-dragging{
	  opacity:0.5;
      width:auto !important;
      cursor: url(https://mail.google.com/mail/images/2/closedhand.cur) 8 8, move;
	}

    #groupnav {
    }

        #groupnav ul{
          list-style-type:none;
          padding:0;
        }

        #groupnav li{
          cursor:pointer;
          background:#ccc;
          margin-bottom:1pt;
          padding:5pt;
          font-size:10pt;
          float:left;
          margin-right:1pt;
        }


    #userlistwrapper{
      width:25%;
      float:left;
    }

        #scrollup{
          font-size:10pt;
          background:#3D322E;
          border:1pt solid #3D3D2E; 
          border-radius: 3pt 3pt 0 0;
          padding:5pt 5pt 5pt 5pt; 
          color:#fff;
          cursor:pointer;
          text-align:center;
        }

            #scrollup img{
              width:10pt;
              height:auto;
            }

        #userlist{
          overflow-y:hidden;
          height:200pt;
          background:#ccc;
        }

            #userlist #scroller{
              position:relative;
              top:0;
            }

            .letterdivider{
              font-size:10pt;
              background:#5D524E;
              border:1pt solid #5D524E; 
              padding:5pt 5pt 5pt 5pt; 
              color:#fff;
              text-align:center;
            }

            ul.userlist{
              list-style-type:none;
              padding:0;
              margin:0;
            }

            li.user{
              cursor: url(https://mail.google.com/mail/images/2/openhand.cur) 8 8, move;
              list-style-type:none;
              background:#ccc;
              padding:5pt;
              font-size:10pt;
            }

        #scrolldown{
          font-size:10pt;
          background:#3D322E;
          border:1pt solid #3D3D2E; 
          border-radius: 0 0 3pt 3pt;
          padding:5pt 5pt 5pt 5pt; 
          color:#fff;
          cursor:pointer;
          text-align:center;
        }

            #scrolldown img{
              width:10pt;
              height:auto;
            }

    .groupmenu {
      padding-left:15pt;
      display:none;
      width:60%;
      float:left;
      font-size:10pt;
      background:#f0f0f0;
      min-height:237pt;
      border:1pt solid #ccc;
      border-radius:3pt;
      padding:5pt;
      margin-left:20pt;
    }

        .groupmenu ul{
          list-style-type:none;
          padding:0;
          padding-bottom:200pt;
        }

        .groupmenu li{
          display:block;
          cursor:default;
          background:#ccc;
          margin-right:5pt;
          padding:5pt;
          font-size:10pt;
          float:left;
        }

                .deletefromgroup{
                  cursor:pointer;
                  margin-left:5pt;
                }

    .groupdescription {
    }

/* --------------------------------------------- */



/* helpers ------------------------------------- */

.clear{
  clear:both;
}

.buttonspinner{
  padding-left:25px !important;
  background-repeat:no-repeat !important;
  background-position:5px 8px !important;
  background-image: url("loader-white.gif") !important;
}

.hidden{
  display:none;
}

.floatleft{
  float:left;
}

a.divwrapper{
  text-decoration:none;
}

.submit{
  font: 11pt 'Roboto';
  background:#88C100;
  border:1pt solid #88C100;
  text-decoration:none;
  color:#fff;
}

.first{
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  border-bottom:none;
  margin-bottom:0;
}

.middle{
  border-radius:0;
  border-top:1pt solid #ccc;
  border-bottom:none;
  margin-top:0;
  margin-bottom:0;
}

.last{
  border-top-left-radius:0;
  border-top-right-radius:0;
  border-top:1pt solid #ccc;
  border-bottom:1pt solid #ccc;
  margin-top:0;
}
