/*
    This file is part of Morse.

    Morse is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Morse is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Morse.  If not, see <http://www.gnu.org/licenses/>.
*/

#group-navigation {
  margin-bottom:10pt;
}

    #group-navigation ul{
      list-style-type:none;
      padding:0;
    }

    #group-navigation li{
      cursor:pointer;
      background:#efefef;
      margin-bottom:5pt;
      padding-bottom:5pt;
      font-size:10pt;
      float:left;
      margin-right:3pt;
      /* this is a really weird workaround to align #newgroup
      with this element. why is it 13pt? shouldn't it be 
      2*padding + font-size? 20pt is way bigger than this */
      height:15pt; 
      box-shadow:1px 1px #ddd;
    }

        .group-pennon{
          font-size:15pt;
          margin-left:2pt;
        }

        .group-name{
          padding:5pt;
        }

    #group-navigation .selected{
    }

    #new-group{
      margin-left:1pt;
    }

    #new-group-name{
      outline:none;
      outline-offset:0;
      font-size:10pt;
      margin-top:-2pt;
      padding:5pt;
      border:none;
      background:none;
      border-radius:0;
    }

.group-properties-menu{
  position:relative; /* this is set so dialog is bound to .group-properties-menu */
  display:none;
}

    .current-group-name{
      font-size:12pt;
      font-weight:bold;
      padding:5pt;
      border:1pt solid #ccc;
      border-radius:3pt 3pt 0pt 0pt;
    }

.group-property-rights {
  font-size:10pt;
  background-color:#eaeaea;
  border:1pt solid #ccc;
  padding:0;
}

.group-property-members {
  padding-left:15pt;
  font-size:10pt;
  background-color:#eaeaea;
  border:1pt solid #ccc;
  border-radius:0pt 0pt 3pt 3pt;
  padding:5pt;
}

    .group-property-members-readonly{
      background-image: url("/static/lockedgroup.png") !important;
      background-repeat:no-repeat;
      background-position:50% 50%;
    }

    .group-property-members ul{
      list-style-type:none;
      padding:0;
      padding-bottom:5pt;
    }

    .group-property-members li{
      display:block;
      cursor:default;
      background:#fff;
      margin-right:5pt;
      padding:5pt;
      font-size:10pt;
      float:left;
      height:13pt;
      box-shadow:1px 1px #ddd;
    }

        .delete-from-group{
          cursor:pointer;
          margin-left:5pt;
        }

    .group-property-members .new-member{
      background:#fff;
     }

    .group-property-members .new-member input{
      outline:none;
      outline-offset:0;
      margin-top:-2pt;
      padding:0;
      border:none;
      background:none;
      border-radius:0;
      background:#fff;
      width:150pt;
    }

    .new-member-menu{
      width:160pt;
      position:absolute;
      display:none;
      padding:0;
      height:100pt;
      overflow-y:scroll;
      background:#fafafa;
    }

    .new-member-menu ul{
      padding:0;
    }

    .new-member-menu li{
      background:#fafafa;
      float:none;
      clear:both;
      cursor:pointer;
      color:#555;
      border-bottom:1pt solid #ddd;
      box-shadow:none;
    }

    .new-member-menu li:hover {
      color:#000;
    }

    .new-member-menu .selected{
      background:#ccc;
    }

    .new-member-menu .empty-list {
      display:none;
      text-align:center;
      color:#666;
      margin-top:5pt;
    }

#new-group-tip {
  background-image: url("/static/editbg.png");
  min-height:200pt;
  background-repeat:no-repeat;
  background-position:50% 75%;
  text-align:center;
  font-size:10pt;
  color:#888;
}

.group-property-colorpicker {
  font-size:10pt;
  background-color:#eaeaea;
  border-left:1pt solid #ccc;
  border-right:1pt solid #ccc;
  padding-left:5pt;
  padding-right:5pt;
  padding-top:8pt;
  padding-bottom:8pt;
}

        .colorpicker{
          width:20px;
          height:20px;
          margin-right:2pt;
          cursor:pointer;
          box-shadow:1px 1px #ddd;
          float:left;
        }

        .picked{
          border-bottom:2px solid #000;
          width:20px;
          height:18px;
        }

    .group-tools{
      float:right;
      height:20pt;
      padding:0;
    }

        .delete-group{
          border:none;
          background:none;
          border-radius:0;
          padding:0;
          box-shadow:none;
        }

        .delete-group img{
          height:20pt;
          width:auto;
        }

