{% extends "base.html" %}
{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('style', filename='account/login.css') }}">
{% endblock %}
{% block content %}
  <form action="" method=post>
        <div id="loginwrapper">
            <input type="text" id="username" name="username" class="first"
              placeholder="Enter Username" value="{{ request.form.username }}"
              required><br/>
            <input type="password" id="password" name="password" class="last"
              placeholder="Enter Password" value="{{ request.form.password }}"
              required><br/>
            <button type="submit" id="dologin">Login</button><br/>
            <div id="signupinfo">
              Don't have an account? <a href="/account/register">Sign Up</a>
            </div>
        </div>
  </form>
{% endblock %}
