<div id="account-menu">
  {% if current_user.is_anonymous() %}
   <div id="guestavatar" class="profileimage" style="background-image:url('/static/anonymous.png')"></div>
  {% else %}
   <div id="useravatar" user-id="{{ current_user.id }}"class="profileimage" style="background-image:url('{{ current_user.profileimage }}')"></div>
  {% endif %}
  <div class="clear"></div>
</div>
  {% if current_user.is_anonymous() %}
    {% include "menu/guests.html" %}
  {% else %}
    {% include "menu/user.html" %}
  {% endif %}
