<div id="inputwrapper">
  <div id="newtopictitle" class="inputheader" contenteditable="true"></div>
  <div id="newtopictext" class="inputheader" contenteditable="true"></div>
  <div id="toolfooter">
    <div id="docreate">Post</div>
    <div id="makebold">b</div>
    <div id="makeitalic">i</div>
    <div id="makequote">"</div>
    <div id="makelink">a <span id="newhrefwrapper"> | <input id="newhref"/> </span></div>
    {% include "inputalerts.html" %}
    <div class="clear"></div>
  </div>
</div>
<div id="typinginfo">To create a new topic just start typing</div>
<br/>
