<div class="dialogwrapper">
    <div id="dialog_deletegroup" class="dialog">
      <button class="close"><img src="{{ url_for('static', filename='close-small.png') }}" /></button>
      <div class="clear"></div>
      <div class="text">
          Deleting a group can cause unwanted side effects. 
          Make sure this is something you really want to do
      </div>
      <div class="controls">
          <button dialog-control="1">I know what I'm doing! Delete</button>
          <button dialog-control="2">Cancel</button>
      </div>
    </div>
</div>
