/*
    This file is part of Morse.

    Morse is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Morse is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Morse.  If not, see <http://www.gnu.org/licenses/>.
*/

.tool-footer{
  position:relative;
  border-bottom-right-radius:3pt;
  border-bottom-left-radius:3pt;
  padding:5pt;
  background:#e8e8e8;
}

    #create-new-post{
      cursor:pointer;
      font-weight:bold;
      background: #ADF057;
      border:1pt solid #ccc;
      border-radius: 2pt;
      float:left;
      color:#000;
      padding:5pt;
      font-size:10pt !important;
      margin-right:2pt;
    }

    #create-new-topic{
      cursor:pointer;
      font-weight:bold;
      background: #ADF057;
      border:1pt solid #ccc;
      border-radius: 2pt;
      float:left;
      color:#000;
      padding:5pt;
      font-size:10pt !important;
      margin-right:2pt;
    }

    .submit-edited-post{
      cursor:pointer;
      font-weight:bold;
      background: #ADF057;
      border:1pt solid #ccc;
      border-radius: 2pt;
      float:left;
      color:#000;
      padding:5pt;
      font-size:10pt !important;
      margin-right:2pt;
    }

    .format-tool{
      border:1pt solid #ccc;
      border-radius:2pt !important;
      font-size:10pt !important;
      padding:5pt;
      margin-right:2pt;
      min-width:15pt;
      float:left;
      cursor:pointer;
      color:#333;
      background:#fff;
    }

    .attr-input{
      -webkit-box-sizing : border-box;
      -moz-box-sizing : border-box;
      box-sizing : border-box;
      width:100%;
      margin-top:5pt;
      display:none;
    }

    .pseudo-selection{
      background:#9DAC99;
      color:#fff;
    }

    .inputalert{
      display:none;
      float:left;
      padding:2pt;
      font-size:10pt;
      color: #F08D37;
    }

.disabledbox{
  background:#DDEAD0;
}

