/*
    This file is part of Morse.

    Morse is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Morse is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Morse.  If not, see <http://www.gnu.org/licenses/>.
*/

.ban-item {
  border-radius: 3pt;
  border:1pt solid #ccc;
  padding:0;
  margin-bottom:5pt;
  background:#fff;
  box-shadow:1px 1px #ddd;
}

.ban-item-expired {
  opacity:0.5;
}

.ban-header{
  padding:5pt;
  border-radius:3pt 3pt 0 0;
  cursor:pointer;
  background-color:#ddd;
}

.ban-header-edit {
  display:none;
}

    .ban-header-edit input[type="text"]{
      float:left;
    }

    .ban-header-edit .option {
      float:left;
      background:none;
      border:none;
    }


.ban-header-display{

}

    .ban-header-display .ban-ip-range{
      float:left;
      padding:5pt;
      border-radius:3pt 0pt 0 0;
      font-weight:bold;
      height:100%;
    }

    .ban-header-display .ban-duration{
      float:left;
      padding:5pt;
      font-style:italic;
    }

    .ban-header-display .ban-item-tools{
      display:none;
      float:right;
      padding:5pt;
    }

        .ban-action{
          border:none;
          box-shadow:none;
          background:none;
          padding:0pt 2pt 0 2pt;
          margin:0;
          color:#333;
        }

    .ban-expiration-progress-wrapper{
      background:#FF7379;
    }

    .ban-item-expired .ban-expiration-progress-wrapper{
      background:#333;
    }

    .ban-expiration-progress{
      min-height:5pt;
      overflow-x:visible;
      background:#F01D27;
      font-size:9pt;
      color:#fff;
    }

    .ban-expiration-time-left{
      display:none;
      padding:5pt;
      overflow-x:visible;
      white-space:nowrap;
    }

.ban-reason{
  padding:5pt;
  font-size:11pt;
  display:none;
}


.ban-affected-boards{
  display:none;
  border-bottom:1pt solid #ccc;
}

    .ban-affected-boards header{
      font-size:10pt;
      font-weight:bold;
      padding:5pt;
    }

.ban-affected-boards-display{
}

    .ban-affected-boards-display ul{
      list-style-type:none;
      padding-left:5pt;
      display:inline;
    }

    .ban-affected-boards-display li{
      padding:5pt;
      font-size:10pt;
      float:left;
    }

.ban-affected-boards-edit{
  display:none;
}

    .ban-affected-boards-edit .option-selected{
      background:#F01D27;
      border-color:#F01D27;
    }

.ban-edit-footer {
  background:#ddd;
  padding:5pt;
  display:none;
}

    .ban-edit-action-update {
      background:#F01D27;
      border:1pt solid #ccc;
      border-radius:2pt;
      font-size:10pt !important;
    }

    .ban-edit-action-pardon {
      background:#F01D27;
      border:1pt solid #ccc;
      border-radius:2pt;
      font-size:10pt !important;
    }
