/*
    This file is part of Morse.

    Morse is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Morse is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Morse.  If not, see <http://www.gnu.org/licenses/>.
*/

.board-item {
  border-radius: 3pt;
  border: 1pt solid #ccc;
  padding:0;
  background:#fcfcfc;
  box-shadow:1px 1px #ddd;
  margin-bottom:5pt;
}

.board-item:hover {
  background:#fff;
}

    .board-title-wrapper{
      float:left;
      width:80%;
      padding:5pt;
    }

        .board-title {
          font-weight:bold;
          color:#000;
        }

        .board-description {
          font-size:10pt;
          color:#000;
        }

    .board-tools{
      float:right;
    }

/* admin --------------------------------------- */

.editboard{
  display:block;
  border:none;
  padding:0;
  background:none;
  outline:none;
  border-radius:0;
  height:16px;
  width:16px;
  margin-top:2px;
  box-shadow:none;
  background-image: url('/static/edit.png');
  background-size:auto 16px;
  background-repeat:no-repeat;
}
