/*
    This file is part of Morse.

    Morse is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Morse is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Morse.  If not, see <http://www.gnu.org/licenses/>.
*/

.postitem {
  border-radius: 3pt;
  border:1pt solid #ccc;
  padding:5pt 5pt 5pt 5pt;
  margin-bottom:5pt;
  background:#fff;
  box-shadow:1px 1px #ddd;
  -webkit-transition: all 5s ease;
  -moz-transition: all 5s ease;
  -o-transition: all 5s ease;
  transition: all 5s ease;
}

  .post{
    margin-left:33pt;
    font-size:11pt;
    padding:5pt;
    background:#fafafa;
  }

  .postheader{
    padding:5pt;
  }

      .postheader .profileimage{
        background-size: 32px 32px;
	float:left;
        border-radius: 50%;
        display: inline-block;
        height: 32px;
        width: 32px;
        border:2pt solid white;
        cursor:pointer;
      }

      .postcreator{
	position:relative;
	top:5px;
	left:8px;
        padding:2pt;
        font-weight:bold;
        font-size:10pt;
        white-space: pre-wrap;      /* CSS3 */   
        white-space: -moz-pre-wrap; /* Firefox */    
        white-space: -pre-wrap;     /* Opera <7 */   
        white-space: -o-pre-wrap;   /* Opera 7 */    
        word-wrap: break-word;      /* IE */
      }

  .postfooter{
    width:0;
    height:0;
    font-size:0;
  }

