/*
    This file is part of Morse.

    Morse is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Morse is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Morse.  If not, see <http://www.gnu.org/licenses/>.
*/

#board{
  width:70%;
  float:left;
}

    #boardtitle {
      font-weight:bold;
      color:#000;
      margin-top: -5pt;
      padding:0;
      font-size:30pt;
      float:left;
      text-shadow:1px 1px #ddd;
    }

    #goback{
      font-size:12pt;
      color:#DB3026;
      text-decoration:none;
    }

    #gobacktooltip{
      display:none;
    }

    #topictools{
      float:left;
      padding-left:10pt;
    }

    #boardtools {
      float:left;
      margin-left:10pt;
    }


    .topicitem {
      border-radius: 3pt;
      border: 1pt solid #ccc;
      padding:5pt 5pt 5pt 5pt;
      margin-bottom:5pt;
      background:#fcfcfc;
      box-shadow:1px 1px #ddd;
    }

    .topicitem:hover {
      background:#fff;
    }

    .topicclosed{
      background:#DB3026;
      color:#fff;
    }

    .topicclosed:hover {
      background:#DE3329;
      color:#fff;
    }

        .topictitle{
          color:#000;
          font-weight:bold;
          width:95%;
          float:left;
        }

        .topictools{
          float:right;
        }

        .closethread{
          border:none;
          display:block;
          padding:0;
          background:none;
          outline:none;
          border-radius:0;
          height:16px;
          width:13px;
          background-image: url('/static/unlocked.png');
          background-size:auto 16px;
          background-repeat:no-repeat;
          margin-top:2px;
          box-shadow:none;
        }

        .openthread{
          display:block;
          border:none;
          padding:0;
          background:none;
          outline:none;
          border-radius:0;
          height:16px;
          width:13px;
          background-image: url('/static/locked.png');
          background-size:auto 16px;
          background-repeat:no-repeat;
          margin-top:2px;
          box-shadow:none;
        }

        .lastpost {
          display:none;
          background: #BDF067;
          border-radius-bottom-left: 3pt;
          border-radius-bottom-right: 3pt;
          padding:5pt;
          margin:-5pt;
          margin-top:2pt;
          font-size:10pt;
        }

        .lasttopics {
          display:none;
          background: #DDEAD0;
          border-radius-bottom-left: 3pt;
          border-radius-bottom-right: 3pt;
          padding:5pt;
          margin:-5pt;
          margin-top:2pt;
          font-size:10pt;
        }

#board-menu{
  float:right;
  width:20%;
}

    #filter-dropdown{
      margin-top:5pt;
    }

        #filter-menu{
	  height:110px;
          display:none;
          padding:5pt;
          text-align:center;
          background:#fff;
          border-bottom:1pt solid #ccc;
          border-left:1pt solid #ccc;
          border-right:1pt solid #ccc;
        }

        #filter-menu h1{
          font-size:11pt;
        }

	#filter-menu-button-wrapper {
	  margin:auto;
	  width:175px;
	}

        #filter-menu button{
          position:relative;
          float:left;
	  outline:none;
          margin-left:10px;
          margin-top:10px;
          height:45px;
          width:45px;
          padding:10px;
          background:#bbb;
          border-top:none;
          border-left:none;
          border-right:none;
          border-bottom: 4px solid #888;
          border-radius: 3px;
          text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
        }
    /*
        #filter-menu button:before,
        #filter-menu button:after {
            content: '';
            position: absolute;
            left: -1px;
            height:45px;
            width:45px;
            border-radius: 3px;
        }
         
        #filter-menu button:before {
            border-radius: 3px;
            height: 45px;
            bottom: -4px;
            border-top: 0;
        }
    */
        #filter-menu button:active{
          border: none;
          position:relative;
          bottom: -2px;
          box-shadow:  2px 2px 0 #fff, inset 0 2px 2px rgba(0, 0, 0, 0.2);
	  height: 43px;
        }

        #filter-menu .latching {
          background:#F2Ba24;
        }

        #filter-menu .unlatching {
          background:#F2Ba24;
        }

        #filter-menu .latched {
          position:relative;
          background:#FABE28;
          border: none;
          bottom: -2px;
	  height: 43px;
          box-shadow:  1px 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.3);
        }

        .filter-menu-tooltip{
          color:#888;
          display:none;
        }

        #filter-option-favorited {
          background-repeat:no-repeat !important;
          background-position:10px 10px !important;
          background-image: url("/static/star.png") !important;
        }

        #filter-option-unread {
          background-repeat:no-repeat !important;
          background-position:12px 12px !important;
          background-image: url("/static/unread.png") !important;
        }

        #filter-option-followed {
          background-repeat:no-repeat !important;
          background-position:14px 10px !important;
          background-image: url("/static/followed.png") !important;
	  margin-right:10px;
        }

    #order-dropdown{
    }

        #order-menu{
          display:none;
          background:#fff;
          margin:0;
          border-bottom:1pt solid #ccc;
          border-left:1pt solid #ccc;
          border-right:1pt solid #ccc;
        }

	.order-option{
	  padding:5pt;
	  background:#e3e3e3;
	  margin-top:1pt;
	  cursor:pointer;
	}

	
	.order-option-selected{
	  background:#ccc;
	}
