/*
    This file is part of Morse.

    Morse is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Morse is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Morse.  If not, see <http://www.gnu.org/licenses/>.
*/

#index-header{
  position:relative;
  top:0px;
  text-align:center;
}

#index{
  position:relative;
}

#top-action {
  position:absolute;
  padding-top:5pt;
  min-height:20pt;
  width:50%;
  left:25%;
  text-align:center;
}

#top-action a {
  color:#333;
  display:none;
}

#top-action a:visited {
  color:#333;
}
