/*
    This file is part of Morse.

    Morse is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Morse is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Morse.  If not, see <http://www.gnu.org/licenses/>.
*/

/* label palette is a mixture of
- TY<3COLOURlovers by ycc2106 (CC-BY-NC-SA) 
- My Rainbow by mmelcg (CC-BY-NC-SA)
*/ 

.label-0{
  color:#8B8B8B !important;
}

.label-1{
  color:#41BFBD !important;
}

.label-2{
  color:#98EB2D !important;
}

.label-3{
  color:#F7DB1A !important;
}

.label-4{
  color:#FF937C !important;
}

.label-5{
  color:#F0778F !important;
}

.label-6{
  color:#BD91D6 !important;
}

.background-label-0{
  background:#8B8B8B !important;
}

.background-label-1{
  background:#41BFBD !important;
}

.background-label-2{
  background:#98EB2D !important;
}

.background-label-3{
  background:#F7DB1A !important;
}

.background-label-4{
  background:#FF937C !important;
}

.background-label-5{
  background:#F0778F !important;
}

.background-label-6{
  background:#BD91D6 !important;
}
