/*
    This file is part of Morse.

    Morse is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Morse is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Morse.  If not, see <http://www.gnu.org/licenses/>.
*/

#user-menu{
  position:absolute;
  top:110pt;
  right:12pt;
  width:220pt;
  background:#fff;
  padding:5pt;
  background-color:#fafafa; 
  border:1pt solid #ccc;
  border-radius:3pt;
  display:none;
  z-index:1000;
}

    .user-action{
      text-align:left;
      display:block;
      width:100%;
      margin-bottom:5pt;
    }

.menu-item {
  padding:5pt;
}

.menu-item:hover {
}

.menu-item a {
  text-decoration:none;
  color:#333;
}

.menu-icon{
  display:inline-block;
  min-width:20pt;
}

  #do-logout{
    padding:5pt;
    float:right;
    font-weight:bold;
    color:#aaa;
  }

  #do-logout:hover {
    color:#DB3026;
  }

  #do-login{
    padding:5pt;
    float:right;
    font-weight:bold;
    color:#aaa;
  }

  #do-login:hover {
    color:#88C100;
  }

#moderator-menu{
  position:absolute;
  top:110pt;
  right:12pt;
  width:200pt;
  background:#fff;
  padding:5pt;
  background-color:#fafafa; 
  border:1pt solid #ccc;
  border-radius:3pt;
  display:none;
  z-index:1000;
}

    .moderator-action{
      text-align:left;
      display:block;
      width:100%;
      margin-bottom:5pt;
    }

#admin-menu{
  position:absolute;
  top:110pt;
  right:12pt;
  width:200pt;
  background:#fff;
  padding:5pt;
  background-color:#fafafa; 
  border:1pt solid #ccc;
  border-radius:3pt;
  display:none;
  z-index:1000;
}




.toolbutton{
  border:none;
  width:100%;
}

.follow{
  background:#88C100;
}

.unfollow{
  background:#FF8A00;
}

.side-menu-scrolling {
  position:fixed !important;
  top:10pt;
}

    #account-menu{
      margin-bottom:5pt;
      background:#ddd;
      border-radius:3pt;
      padding: 5pt;
    }

        #account-label{
          font-weight:bold;
          padding:5pt;
          float:left;
        }

        #account-label a{
          margin-left:20pt;
          color:#41BFBD;
          text-decoration:none;
        }

        #account-label a:visited{
          color:#41BFBD;
        }

	.profileimage{
	  background-size: 32px 32px;
	  background-repeat:no-repeat;
	  border-radius: 5pt;
	  display: block;
	  height: 32px;
	  width: 32px;
	  border:2pt solid white;
	  float:left;
	  cursor:pointer;
	}

	    .navmenu{
	      display:none;
              padding-left:0;
              padding-right:0;
	      padding-top:0;
	      padding-bottom:5pt;
	      font-size:11pt;
	      margin-top:5pt;
	    }

		#gotologin{
		  background:#FABE28;
		  border:1pt solid #FABE28;
		  width:46%;
		  margin-left:5pt;
		}

		#gotoregister{
		  background:#FF8A00;
		  border:1pt solid #FF8A00;
		  width:46%;
		  margin-left:5pt;
		}

		#dologout{
		}

		#showsettings{
		  background:#67DAD7;
		  border:1pt solid #67DAD7;
		  width:48%;
		}

    #filter-dropdown{
      margin-top:5pt;
    }

        #filter-menu{
          display:none;
          background:#fff;
          border-left:1pt solid #ccc;
          border-right:1pt solid #ccc;
        }


	.filter-option {
	}

	    #filter-option-favorited {
	    }

	    #filter-option-unread {
	    }

	    #filter-option-followed {
	    }

    #order-dropdown{
    }

        #order-menu{
          display:none;
          background:#fff;
          margin:0;
          border-bottom:1pt solid #ccc;
          border-left:1pt solid #ccc;
          border-right:1pt solid #ccc;
        }

	.order-option{
	}

   #tooltip{
     padding:5pt;
     color:#777;
     font-size:12pt;
   }
