/*
    This file is part of Morse.

    Morse is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Morse is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Morse.  If not, see <http://www.gnu.org/licenses/>.
*/

#topic{
  width:70%;
  float:left;
}

    #topictitle {
      font-weight:bold;
      color:#000;
      margin-top: -5pt;
      padding:0;
      font-size:30pt;
      float:left;
      text-shadow:1px 1px #ddd;
    }

    #goback{
      font-size:12pt;
      color:#DB3026;
      text-decoration:none;
    }

    #gobacktooltip{
      display:none;
    }

    #itemcontainer{
      min-height:100pt;
    }

    #itemloader-top{
      padding:0;
    }

      #jump-to-unread{
        border-radius:3pt;
        background: #88C100;
        padding:5pt;
        color:#fff;
        cursor:pointer;
      }

      #info-init{
        border-radius:3pt;
        background:#333;
        padding:5pt;
        color:#fff;
        margin-bottom:5pt;
      }

      #info-older-items{
        border-radius:3pt;
        background:#333;
        padding:5pt;
        color:#fff;
        margin-bottom:5pt;
      }

    #itemloader-bottom{
      padding:0;
      margin-bottom:5pt;
      height:20pt;
    }

      #info-newer-items{
        border-radius:3pt;
        background:#333;
        padding:5pt;
        color:#fff;
      }

      #info-rockbottom{
        border-radius:3pt;
        background:#333;
        padding:5pt;
        color:#fff;
      }
